.banner{
  padding-top: 250px;
  width:100%;
  height:600px;
  background-image: url("https://img.tukuppt.com/ad_preview/00/05/89/5c98e2cdbc386.jpg!/fw/780");
}

.quote{
  width: 50%;
  margin: 0 auto;
  font-size: 50px;
  color: grey;
  padding-left: 20px;
  border-left: 10px solid #fff;
}
