.banner{
  padding-top: 250px;
  width:100%;
  height:600px;
  background-image: url("https://i.pinimg.com/736x/b8/0e/88/b80e880bb85abacc4958375477ec4ed3.jpg");
}

.quote{
  width: 50%;
  margin: 0 auto;
  font-size: 50px;
  color: gray;
  padding-left: 20px;
  border-left: 10px solid #BEBEBE;
}
