.banner{
  padding-top: 250px;
  width:100%;
  height:600px;
  background-image: url("https://i.imgur.com/nepoZYm.jpeg");
}

.quote{
  width: 50%;
  margin: 0 auto;
  font-size: 50px;
  color: gray;
  padding-left: 20px;
  border-left: 10px solid #BEBEBE;
}
